.custom-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 18px 28px;
  border-radius: 8px;
  color: var(--white-color);
  font-size: 1.1rem;
  font-weight: 600;
  z-index: 9999;
  opacity: 1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.custom-alert.hide {
  opacity: 0;
  transform: translateY(-20px);
}

.custom-alert--success {
  background-color: var(--success-color);
}
.custom-alert--error {
  background-color: var(--danger-color);
}
.custom-alert--warning {
  background-color: var(--warning-color);
}
.custom-alert--info {
  background-color: var(--primary-color);
}
.custom-alert--default {
  background-color: var(--secondary-color);
}
